<a href="https://colab.research.google.com/github/Great-erf/pythone-code/blob/pythone/sanaye_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [1]:
import pandas as pd
import numpy as np

In [6]:
L = pd.read_excel('Decision_tree.xlsx')
L

    F1  F2  F3  F4  F5  Class
0    1   1   1   1   1      1
1    1   1   1   1   1      1
2    1   1   1   1   1      1
3    1   1   1   1   0      1
4    1   1   1   1   0      1
5    1   1   1   1   0      1
6    1   1   1   0   0      1
7    1   1   1   0   0      1
8    1   1   1   0   0      1
9    1   1   1   0   0      1
10   0   1   0   1   1      2
11   0   1   0   1   1      2
12   0   1   0   1   1      2
13   0   1   0   1   0      2
14   0   1   0   1   0      2
15   0   1   0   1   0      2
16   0   1   0   0   0      2
17   0   1   0   0   0      2
18   0   1   0   0   0      2
19   0   1   0   0   0      2
20   0   1   0   0   0      2
21   1   0   0   1   1      3
22   1   0   0   1   1      3
23   1   0   0   1   0      3
24   1   0   0   1   0      3
25   1   0   0   1   0      3
26   1   0   0   0   0      3
27   1   0   0   0   0      3
28   1   0   0   0   0      3
29   1   0   0   0   0      3
30   1   0   0   0   0      3
31   1   0   0   0   0      3

In [12]:
n=L.to_numpy()
n

array([[1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 0, 1],
       [1, 1, 1, 1, 0, 1],
       [1, 1, 1, 1, 0, 1],
       [1, 1, 1, 0, 0, 1],
       [1, 1, 1, 0, 0, 1],
       [1, 1, 1, 0, 0, 1],
       [1, 1, 1, 0, 0, 1],
       [0, 1, 0, 1, 1, 2],
       [0, 1, 0, 1, 1, 2],
       [0, 1, 0, 1, 1, 2],
       [0, 1, 0, 1, 0, 2],
       [0, 1, 0, 1, 0, 2],
       [0, 1, 0, 1, 0, 2],
       [0, 1, 0, 0, 0, 2],
       [0, 1, 0, 0, 0, 2],
       [0, 1, 0, 0, 0, 2],
       [0, 1, 0, 0, 0, 2],
       [0, 1, 0, 0, 0, 2],
       [1, 0, 0, 1, 1, 3],
       [1, 0, 0, 1, 1, 3],
       [1, 0, 0, 1, 0, 3],
       [1, 0, 0, 1, 0, 3],
       [1, 0, 0, 1, 0, 3],
       [1, 0, 0, 0, 0, 3],
       [1, 0, 0, 0, 0, 3],
       [1, 0, 0, 0, 0, 3],
       [1, 0, 0, 0, 0, 3],
       [1, 0, 0, 0, 0, 3],
       [1, 0, 0, 0, 0, 3]])

In [21]:
F1 =n[0:32,0]
F2 =n[0:32,1]
F3 =n[0:32,2]
F4 =n[0:32,3]
F5 =n[0:32,4]

In [45]:
class_F = n[0:32,5]

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3])

In [71]:
Counter_class0 = 0
for i in range(0,np.size(F1)):
  if class_F[i]==0:
    Counter_class0 = Counter_class0 +1
print("shomar class haye sefr = ",Counter_class0)

Counter_class1 = 0
for i in range(0,np.size(F1)):
  if class_F[i]==1:
    Counter_class1 = Counter_class1 +1
print("shomar class haye 1 = ",Counter_class1)

Counter_class2 = 0
for i in range(0,np.size(F1)):
  if class_F[i]==2:
    Counter_class2 = Counter_class2 +1
print("shomar class haye 2 = ",Counter_class2)

Counter_class3 = 0
for i in range(0,np.size(F1)):
  if class_F[i]==3:
    Counter_class3 = Counter_class3 +1
print("shomar class haye 3 = ",Counter_class3)

shomar class haye sefr =  0
shomar class haye 1 =  10
shomar class haye 2 =  11
shomar class haye 3 =  11

In [48]:
Counter_F10 = 0
for i in range(0,np.size(F1)):
  if F1[i]==0:
    Counter_F10 = Counter_F10 +1
print("shomar F1 haye sefr = ",Counter_F10)

Counter_F11 = 0
for i in range(0,np.size(F1)):
  if F1[i]==1:
    Counter_F11 = Counter_F11 +1
print("shomar F1 haye 1 = ",Counter_F11)

Counter_F12 = 0
for i in range(0,np.size(F1)):
  if F1[i]==2:
    Counter_F12 = Counter_F12 +1
print("shomar F1 haye 2 = ",Counter_F12)

Counter_F13 = 0
for i in range(0,np.size(F1)):
  if F1[i]==3:
    Counter_F13 = Counter_F13 +1
print("shomar F1 haye 3 = ",Counter_F13)

shomar F1 haye sefr =  11
shomar F1 haye 1 =  21
shomar F1 haye 2 =  0
shomar F1 haye 3 =  0

In [51]:
Counter_F20 = 0
for i in range(0,np.size(F1)):
  if F2[i]==0:
    Counter_F20 = Counter_F20 +1
print("shomar F2 haye sefr = ",Counter_F20)

Counter_F21 = 0
for i in range(0,np.size(F1)):
  if F2[i]==1:
    Counter_F21 = Counter_F21 +1
print("shomar F2 haye 1 = ",Counter_F21)

Counter_F22 = 0
for i in range(0,np.size(F1)):
  if F2[i]==2:
    Counter_F22 = Counter_F22 +1
print("shomar F2 haye 2 = ",Counter_F22)

Counter_F23 = 0
for i in range(0,np.size(F1)):
  if F2[i]==3:
    Counter_F23 = Counter_F23 +1
print("shomar F2 haye 3 = ",Counter_F23)

shomar F2 haye sefr =  11
shomar F2 haye 1 =  21
shomar F2 haye 2 =  0
shomar F2 haye 3 =  0

In [52]:
Counter_F30 = 0
for i in range(0,np.size(F1)):
  if F3[i]==0:
    Counter_F30 = Counter_F30 +1
print("shomar F3 haye sefr = ",Counter_F30)

Counter_F31 = 0
for i in range(0,np.size(F1)):
  if F3[i]==1:
    Counter_F31 = Counter_F31 +1
print("shomar F3 haye 1 = ",Counter_F31)

Counter_F32 = 0
for i in range(0,np.size(F1)):
  if F3[i]==2:
    Counter_F32 = Counter_F32 +1
print("shomar F3 haye 2 = ",Counter_F32)

Counter_F33 = 0
for i in range(0,np.size(F1)):
  if F3[i]==3:
    Counter_F33 = Counter_F33 +1
print("shomar F3 haye 3 = ",Counter_F33)

shomar F3 haye sefr =  22
shomar F3 haye 1 =  10
shomar F3 haye 2 =  0
shomar F3 haye 3 =  0

In [55]:
Counter_F40 = 0
for i in range(0,np.size(F1)):
  if F4[i]==0:
    Counter_F40 = Counter_F40 +1
print("shomar F4 haye sefr = ",Counter_F40)

Counter_F41 = 0
for i in range(0,np.size(F1)):
  if F4[i]==1:
    Counter_F41 = Counter_F41 +1
print("shomar F4 haye 1 = ",Counter_F41)

Counter_F42 = 0
for i in range(0,np.size(F1)):
  if F4[i]==2:
    Counter_F42 = Counter_F42 +1
print("shomar F4 haye 2 = ",Counter_F42)

Counter_F43 = 0
for i in range(0,np.size(F1)):
  if F4[i]==3:
    Counter_F43 = Counter_F43 +1
print("shomar F4 haye 3 = ",Counter_F43)

shomar F4 haye sefr =  15
shomar F4 haye 1 =  17
shomar F4 haye 2 =  0
shomar F4 haye 3 =  0

In [56]:
Counter_F50 = 0
for i in range(0,np.size(F1)):
  if F5[i]==0:
    Counter_F50 = Counter_F50 +1
print("shomar F5 haye sefr = ",Counter_F50)

Counter_F51 = 0
for i in range(0,np.size(F1)):
  if F5[i]==1:
    Counter_F51 = Counter_F51 +1
print("shomar F5 haye 1 = ",Counter_F51)

Counter_F52 = 0
for i in range(0,np.size(F1)):
  if F5[i]==2:
    Counter_F52 = Counter_F52 +1
print("shomar F5 haye 2 = ",Counter_F52)

Counter_F53 = 0
for i in range(0,np.size(F1)):
  if F5[i]==3:
    Counter_F53 = Counter_F53 +1
print("shomar F5 haye 3 = ",Counter_F53)

shomar F5 haye sefr =  24
shomar F5 haye 1 =  8
shomar F5 haye 2 =  0
shomar F5 haye 3 =  0

In [93]:
info_D = -1*((Counter_class1/32)*np.log10(Counter_class1/32)+ (Counter_class2/32)*np.log10(Counter_class2/32)+(Counter_class3/32)*np.log10(Counter_class3/32))                   
info_D

0.4766925072736263

In [ ]:
Counter_f1_equal_class0 = 0
for i in range(0,np.size(F1)):
  if class_F[i]==0:
    if F1[i] == 0 :
      Counter_class0 = Counter_class0 +1
print("shomar class haye sefr = ",Counter_class0)

Counter_f1_equal__class1 = 0
for i in range(0,np.size(F1)):
  if class_F[i]==1:
    Counter_class1 = Counter_class1 +1
print("shomar class haye 1 = ",Counter_class1)

Counter_f1_equal__class2 = 0
for i in range(0,np.size(F1)):
  if class_F[i]==2:
    Counter_class2 = Counter_class2 +1
print("shomar class haye 2 = ",Counter_class2)

Counter_f1_equal__class3 = 0
for i in range(0,np.size(F1)):
  if class_F[i]==3:
    Counter_class3 = Counter_class3 +1
print("shomar class haye 3 = ",Counter_class3)

In [113]:
Counter_f1_equal0_class1 = 0
Counter_f1_equal0_class2 = 0
Counter_f1_equal0_class3 = 0

Counter_f1_equal1_class1 = 0
Counter_f1_equal1_class2 = 0
Counter_f1_equal1_class3 = 0

for i in range(0,np.size(F1)):
  if class_F[i]==1:
    if F1[i] == 1 :
      Counter_f1_equal1_class1 = Counter_f1_equal1_class1 +1
  if class_F[i]==2:
    if F1[i] == 1 :
      Counter_f1_equal1_class2 = Counter_f1_equal1_class2 +1
  if class_F[i]==3:
    if F1[i] == 1 :
      Counter_f1_equal1_class3 = Counter_f1_equal1_class3 +1
  if class_F[i]==1:
    if F1[i] == 0 :
      Counter_f1_equal0_class1 = Counter_f1_equal0_class1 +1
  if class_F[i]==2:
    if F1[i] == 0 :
      Counter_f1_equal0_class2 = Counter_f1_equal0_class2 +1
  if class_F[i]==3:
    if F1[i] == 0 :
      Counter_f1_equal0_class3 = Counter_f1_equal0_class3 +1

print("shomar 1 ha dar  class 1 = ",Counter_f1_equal1_class1)
print("shomar 1 ha dar  class 2 = ",Counter_f1_equal1_class2)
print("shomar 1 ha dar  class 3 = ",Counter_f1_equal1_class3)
print("shomar 0 ha dar  class 1 = ",Counter_f1_equal0_class1)
print("shomar 0 ha dar  class 2 = ",Counter_f1_equal0_class2)
print("shomar 0 ha dar  class 3 = ",Counter_f1_equal0_class3)

shomar 1 ha dar  class 1 =  10
shomar 1 ha dar  class 2 =  0
shomar 1 ha dar  class 3 =  11
shomar 0 ha dar  class 1 =  0
shomar 0 ha dar  class 2 =  11
shomar 0 ha dar  class 3 =  0

In [118]:
info_F1 = -1*(Counter_F11/np.size(F1))*((Counter_f1_equal1_class1/Counter_F11)*np.log10(Counter_f1_equal1_class1/Counter_F11)+((Counter_f1_equal1_class3/Counter_F11)*np.log10(Counter_f1_equal1_class3/Counter_F11)))
info_F1

0.19722767664599467

In [101]:
Counter_f2_equal0_class1 = 0
Counter_f2_equal0_class2 = 0
Counter_f2_equal0_class3 = 0

Counter_f2_equal1_class1 = 0
Counter_f2_equal1_class2 = 0
Counter_f2_equal1_class3 = 0

for i in range(0,np.size(F1)):
  if class_F[i]==1:
    if F2[i] == 1 :
      Counter_f2_equal1_class1 = Counter_f2_equal1_class1 +1
  if class_F[i]==2:
    if F2[i] == 1 :
      Counter_f2_equal1_class2 = Counter_f2_equal1_class2 +1
  if class_F[i]==3:
    if F2[i] == 1 :
      Counter_f2_equal1_class3 = Counter_f2_equal1_class3 +1
  if class_F[i]==1:
    if F2[i] == 0 :
      Counter_f2_equal0_class1 = Counter_f2_equal0_class1 +1
  if class_F[i]==2:
    if F2[i] == 0 :
      Counter_f2_equal0_class2 = Counter_f2_equal0_class2 +1
  if class_F[i]==3:
    if F2[i] == 0 :
      Counter_f2_equal0_class3 = Counter_f2_equal0_class3 +1

print("shomar 1 ha dar  class 1 = ",Counter_f2_equal1_class1)
print("shomar 1 ha dar  class 2 = ",Counter_f2_equal1_class2)
print("shomar 1 ha dar  class 3 = ",Counter_f2_equal1_class3)
print("shomar 0 ha dar  class 1 = ",Counter_f2_equal0_class1)
print("shomar 0 ha dar  class 2 = ",Counter_f2_equal0_class2)
print("shomar 0 ha dar  class 3 = ",Counter_f2_equal0_class3)

shomar 1 ha dar  class 1 =  10
shomar 1 ha dar  class 2 =  11
shomar 1 ha dar  class 3 =  0
shomar 0 ha dar  class 1 =  0
shomar 0 ha dar  class 2 =  0
shomar 0 ha dar  class 3 =  11

In [129]:
info_F2 = (-1*((Counter_F21/np.size(F1))*((Counter_f2_equal1_class1/Counter_F21)*np.log10(Counter_f2_equal1_class1/Counter_F21)+((Counter_f2_equal1_class2/Counter_F11)*np.log10(Counter_f2_equal1_class2/Counter_F11)))))-((Counter_F20/np.size(F1))*((Counter_f2_equal0_class3/Counter_F20)*np.log10(Counter_f2_equal0_class3/Counter_F20)))
info_F2

0.19722767664599467

In [102]:
Counter_f3_equal0_class1 = 0
Counter_f3_equal0_class2 = 0
Counter_f3_equal0_class3 = 0

Counter_f3_equal1_class1 = 0
Counter_f3_equal1_class2 = 0
Counter_f3_equal1_class3 = 0

for i in range(0,np.size(F1)):
  if class_F[i]==1:
    if F3[i] == 1 :
      Counter_f3_equal1_class1 = Counter_f3_equal1_class1 +1
  if class_F[i]==2:
    if F3[i] == 1 :
      Counter_f3_equal1_class2 = Counter_f3_equal1_class2 +1
  if class_F[i]==3:
    if F3[i] == 1 :
      Counter_f3_equal1_class3 = Counter_f3_equal1_class3 +1
  if class_F[i]==1:
    if F3[i] == 0 :
      Counter_f3_equal0_class1 = Counter_f3_equal0_class1 +1
  if class_F[i]==2:
    if F3[i] == 0 :
      Counter_f3_equal0_class2 = Counter_f3_equal0_class2 +1
  if class_F[i]==3:
    if F3[i] == 0 :
      Counter_f3_equal0_class3 = Counter_f3_equal0_class3 +1

print("shomar 1 ha dar  class 1 = ",Counter_f3_equal1_class1)
print("shomar 1 ha dar  class 2 = ",Counter_f3_equal1_class2)
print("shomar 1 ha dar  class 3 = ",Counter_f3_equal1_class3)
print("shomar 0 ha dar  class 1 = ",Counter_f3_equal0_class1)
print("shomar 0 ha dar  class 2 = ",Counter_f3_equal0_class2)
print("shomar 0 ha dar  class 3 = ",Counter_f3_equal0_class3)

shomar 1 ha dar  class 1 =  10
shomar 1 ha dar  class 2 =  0
shomar 1 ha dar  class 3 =  0
shomar 0 ha dar  class 1 =  0
shomar 0 ha dar  class 2 =  11
shomar 0 ha dar  class 3 =  11

In [132]:
info_F3 = (-1*((Counter_F30/np.size(F1))*((Counter_f3_equal0_class2/Counter_F30)*np.log10(Counter_f3_equal0_class2/Counter_F30)+((Counter_f2_equal0_class3/Counter_F30)*np.log10(Counter_f3_equal0_class3/Counter_F30)))))
info_F3

0.20695812201898708

In [107]:
Counter_f4_equal0_class1 = 0
Counter_f4_equal0_class2 = 0
Counter_f4_equal0_class3 = 0

Counter_f4_equal1_class1 = 0
Counter_f4_equal1_class2 = 0
Counter_f4_equal1_class3 = 0

for i in range(0,np.size(F1)):
  if class_F[i]==1:
    if F4[i] == 1 :
      Counter_f4_equal1_class1 = Counter_f4_equal1_class1 +1
  if class_F[i]==2:
    if F4[i] == 1 :
      Counter_f4_equal1_class2 = Counter_f4_equal1_class2 +1
  if class_F[i]==3:
    if F4[i] == 1 :
      Counter_f4_equal1_class3 = Counter_f4_equal1_class3 +1
  if class_F[i]==1:
    if F4[i] == 0 :
      Counter_f4_equal0_class1 = Counter_f4_equal0_class1 +1
  if class_F[i]==2:
    if F4[i] == 0 :
      Counter_f4_equal0_class2 = Counter_f4_equal0_class2 +1
  if class_F[i]==3:
    if F4[i] == 0 :
      Counter_f4_equal0_class3 = Counter_f4_equal0_class3 +1

print("shomar 1 ha dar  class 1 = ",Counter_f4_equal1_class1)
print("shomar 1 ha dar  class 2 = ",Counter_f4_equal1_class2)
print("shomar 1 ha dar  class 3 = ",Counter_f4_equal1_class3)
print("shomar 0 ha dar  class 1 = ",Counter_f4_equal0_class1)
print("shomar 0 ha dar  class 2 = ",Counter_f4_equal0_class2)
print("shomar 0 ha dar  class 3 = ",Counter_f4_equal0_class3)

shomar 1 ha dar  class 1 =  6
shomar 1 ha dar  class 2 =  6
shomar 1 ha dar  class 3 =  5
shomar 0 ha dar  class 1 =  4
shomar 0 ha dar  class 2 =  5
shomar 0 ha dar  class 3 =  6

In [162]:
info_F4 = (-1*((Counter_F41/np.size(F1))*
               ((Counter_f4_equal1_class1/Counter_F41)*
                np.log10(Counter_f4_equal1_class1/Counter_F41)+
                (Counter_f4_equal1_class2/Counter_F41)*
                 np.log10(Counter_f4_equal1_class2/Counter_F41)+
                 (Counter_f4_equal1_class3/Counter_F41)*
                  np.log10(Counter_f4_equal1_class3/Counter_F41))) -
           ((Counter_F40/np.size(F1))*
            ((Counter_f4_equal0_class1/Counter_F40)*
             np.log10(Counter_f4_equal0_class1/Counter_F40)+
             (Counter_f4_equal0_class2/Counter_F40)*
              np.log10(Counter_f4_equal0_class2/Counter_F40)+
              ((Counter_f4_equal0_class3/Counter_F40)*
               np.log10(Counter_f4_equal0_class3/Counter_F40)))))
info_F4

0.47357306355275786

In [159]:
Counter_f4_equal0_class1

4

In [149]:
Counter_f5_equal0_class1 = 0
Counter_f5_equal0_class2 = 0
Counter_f5_equal0_class3 = 0

Counter_f5_equal1_class1 = 0
Counter_f5_equal1_class2 = 0
Counter_f5_equal1_class3 = 0

for i in range(0,np.size(F1)):
  if class_F[i]==1:
    if F5[i] == 1 :
      Counter_f5_equal1_class1 = Counter_f5_equal1_class1 +1
  if class_F[i]==2:
    if F5[i] == 1 :
      Counter_f5_equal1_class2 = Counter_f5_equal1_class2 +1
  if class_F[i]==3:
    if F5[i] == 1 :
      Counter_f5_equal1_class3 = Counter_f5_equal1_class3 +1
  if class_F[i]==1:
    if F5[i] == 0 :
      Counter_f5_equal0_class1 = Counter_f5_equal0_class1 +1
  if class_F[i]==2:
    if F5[i] == 0 :
      Counter_f5_equal0_class2 = Counter_f5_equal0_class2 +1
  if class_F[i]==3:
    if F5[i] == 0 :
      Counter_f5_equal0_class3 = Counter_f5_equal0_class3 +1

print("shomar 1 ha dar  class 1 = ",Counter_f5_equal1_class1)
print("shomar 1 ha dar  class 2 = ",Counter_f5_equal1_class2)
print("shomar 1 ha dar  class 3 = ",Counter_f5_equal1_class3)
print("shomar 0 ha dar  class 1 = ",Counter_f5_equal0_class1)
print("shomar 0 ha dar  class 2 = ",Counter_f5_equal0_class2)
print("shomar 0 ha dar  class 3 = ",Counter_f5_equal0_class3)

shomar 1 ha dar  class 1 =  3
shomar 1 ha dar  class 2 =  3
shomar 1 ha dar  class 3 =  2
shomar 0 ha dar  class 1 =  7
shomar 0 ha dar  class 2 =  8
shomar 0 ha dar  class 3 =  9

In [165]:
info_F5 = (-1*((Counter_F51/np.size(F1))*
               ((Counter_f5_equal1_class1/Counter_F51)*
                np.log10(Counter_f5_equal1_class1/Counter_F51)+
                (Counter_f5_equal1_class2/Counter_F51)*
                 np.log10(Counter_f5_equal1_class2/Counter_F51)+
                 (Counter_f5_equal1_class3/Counter_F51)*
                  np.log10(Counter_f5_equal1_class3/Counter_F51))) -
           ((Counter_F50/np.size(F1))*
            ((Counter_f5_equal0_class1/Counter_F50)*
             np.log10(Counter_f5_equal0_class1/Counter_F50)+
             (Counter_f5_equal0_class2/Counter_F50)*
              np.log10(Counter_f5_equal0_class2/Counter_F50)+
              ((Counter_f5_equal0_class3/Counter_F50)*
               np.log10(Counter_f5_equal0_class3/Counter_F50)))))
info_F5

0.4736379192618402

In [168]:
gain_F1 =-info_F1+info_D
gain_F2 =-info_F2+info_D
gain_F3 =-info_F3+info_D
gain_F4 =-info_F4+info_D
gain_F5 =-info_F5+info_D
print("gain_F1 = ",gain_F1)
print("gain_F2 = ",gain_F2)
print("gain_F3 = ",gain_F3)
print("gain_F4 = ",gain_F4)
print("gain_F5 = ",gain_F5)

gain_F1 =  0.2794648306276316
gain_F2 =  0.2794648306276316
gain_F3 =  0.2697343852546392
gain_F4 =  0.00311944372086842
gain_F5 =  0.003054588011786097